@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.hero {
  background-color: #1f2937;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-container {
  width: 1200px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
  padding: 15px 0;
}

.nav h2 {
  font-size: 24px;
  color: #f9faf8;
}
.nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.content-container {
  width: 1200px;
}

.hero-img {
  width: 300px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.hero-container-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.hero-container-left h3 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-container-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-container-left button {
  background-color: #3882f6;
  border: none;
  font-size: 18px;
  color: #f9faf8;
  padding: 7px 15px;
  border-radius: 5px;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 50px;
  gap: 30px;
}

.heading-title h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 230px;
  gap: 20px;

  font-size: 15px;
  font-weight: 600;
}

.card-img {
  width: 230px;
  height: 330px;
  object-fit: cover;
  border: 4px solid #3882f6;

  border-radius: 15px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e5e7eb;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  padding: 70px 50px;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.author p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 900;
  color: #1f2937;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 60px;
}

.action-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  color: #fff;
  padding: 30px 60px;
  width: 900px;
  border-radius: 10px;
  gap: 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.left-side h3 {
  font-size: 25px;
  font-weight: 600;
}

.left-side p {
  font-size: 15px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-side button {
  background-color: #3882f6;
  border: 1px solid #fff;
  font-size: 15px;
  color: #f9faf8;
  padding: 7px 15px;
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1f2937;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 25px 0;
}

.footer-text p {
  color: #f9faf8;
  font-size: 15px;
  font-weight: 500;
}
